<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!--  boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />
    <script src="{% static 'xkills/xKillsVorkath.js' %}"></script>

    <title>SimulationScape - Simulations</title>
</head>
<body>

<!--login area-->
<section id="login-area">
    <div class="login-field container">
<!--        <form action="{% url 'home:home' %}" method="post">-->
<!--            {% csrf_token %}-->
<!--            <div class="row">-->
                <div class="col-lg-3 col-sm-12">
                    <div class="frontpage-title">SimulationScape</div>
                </div>
<!--                <div class="col-lg-4 col-md-12 ms-auto">-->
<!--                    <div class="justify-right"><input id="login" name="usernametext" type="text"/>Username</div>-->
<!--                    <div class="justify-right"><input class="login-box" id="password" name="passwordtext" type="password"/> Password</div>-->
<!--                    <div class="justify-right">-->
<!--                        <button class="btn btn-outline-warning" type="submit">Login</button>-->
<!--                        <a class="register-button btn btn-outline-warning" href="{% url 'home:register' %}">Create Account</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="row">
                <div class="col-lg-3">
                    <div class="five-border"><a class="nav-link btn btn-outline-warning" href="{% url 'home:simulations' %}">Simulations</a></div>
                </div>
                <div class="col-lg-3">
                    <div class="five-border"><a class="nav-link btn btn-outline-warning" href="">Calculators</a></div>
                </div>
                <div class="col-lg-3">
                    <div class="five-border"><a class="nav-link btn btn-outline-warning" href="{% url 'home:about' %}">About</a></div>
                </div>
            </div>
<!--        </form>-->
    </div>
</section>

<!-- calculator area -->
<section>
    <h2 class="padding-4-7">
        With this simulator you are able to simulate x kills of Vorkath. This simulator literally
        rolls on a loot table with the approximated rates from the wiki. This
        simulator isn't going to necessarily give you the average, or likely, results from x kills.
        Because it is rolling just as it would in-game it is possible, but unlikely, to get rare
        abnormal results; just like in-game.
        <br><br>
        Max 20,000, min 1
    </h2>
    <table class="table">
        <thread>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Count</th>
            </tr>
        </thread>
        <tbody>
        <tr>
            <th scope="row">Vorki <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/2/21/Vorki_%28follower%29.png/280px-Vorki_%28follower%29.png?b2e83"></span></th>
            <td id="vorki" class="vorki">0</td>
        </tr>
        <tr>
            <th scope="row">Jar of Decay <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/1/14/Jar_of_decay_detail.png/90px-Jar_of_decay_detail.png?23aa1"></span></th>
            <td id="jar" class="jar">0</td>
        </tr>
        <tr>
            <th scope="row">Draconic Visage <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/f/f7/Draconic_visage_detail.png/130px-Draconic_visage_detail.png?6edab"></span></th>
            <td id="dracvisage" class="dracvisage">0</td>
        </tr>
        <tr>
            <th scope="row">Skeletal Visage <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/5/56/Skeletal_visage_detail.png/130px-Skeletal_visage_detail.png?bccc7"></span></th>
            <td id="skelevisage" class="skelevisage">0</td>
        </tr>
        <tr>
            <th scope="row">Dragonbone Necklace <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/9/93/Dragonbone_necklace_detail.png/120px-Dragonbone_necklace_detail.png?132ed"></span></th>
            <td id="dragonbonenecklace" class="dragonbonenecklace">0</td>
        </tr>
        <tr>
            <th scope="row">Superior Dragon Bones <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/2/23/Superior_dragon_bones_detail.png/150px-Superior_dragon_bones_detail.png?fedaa"></span></th>
            <td id="supbone" class="supbone">0</td>
        </tr>
        <tr>
            <th scope="row">Blue Dragonhide <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/9/91/Blue_dragonhide_detail.png/120px-Blue_dragonhide_detail.png?70893"></span></th>
            <td id="bluehide" class="bluehide">0</td>
        </tr>
        <tr>
            <th scope="row">Rune Longsword <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/9/9e/Rune_longsword_detail.png/120px-Rune_longsword_detail.png?6d359"></span></th>
            <td id="runelong" class="runelong">0</td>
        </tr>
        <tr>
            <th scope="row">Rune Kite <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/c/cb/Rune_kiteshield_detail.png/130px-Rune_kiteshield_detail.png?65fbe"></span></th>
            <td id="runekite" class="runekite">0</td>
        </tr>
        <tr>
            <th scope="row">Battlestaff <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/c/c7/Battlestaff_detail.png/120px-Battlestaff_detail.png?c5b58"></span></th>
            <td id="bstaff" class="bstaff">0</td>
        </tr>
        <tr>
            <th scope="row">Dragon Battleaxe <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/4/4f/Dragon_battleaxe_detail.png/130px-Dragon_battleaxe_detail.png?9bf1c"></span></th>
            <td id="dbaxe" class="dbaxe">0</td>
        </tr>
        <tr>
            <th scope="row">Dragon Longsword <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/7/76/Dragon_longsword_detail.png/130px-Dragon_longsword_detail.png?b0e1e"></span></th>
            <td id="dlong" class="dlong">0</td>
        </tr>
        <tr>
            <th scope="row">Dragon Platelegs <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/c/c0/Dragon_platelegs_detail.png/90px-Dragon_platelegs_detail.png?e30c3"></span></th>
            <td id="dlegs" class="dlegs">0</td>
        </tr>
        <tr>
            <th scope="row">Dragon Plateskirt <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/4/47/Dragon_plateskirt_detail.png/150px-Dragon_plateskirt_detail.png?f3524"></span></th>
            <td id="dskirt" class="dskirt">0</td>
        </tr>
        <tr>
            <th scope="row">Death Rune <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/7/7d/Death_rune_detail.png/120px-Death_rune_detail.png?9e79a"></span></th>
            <td id="death" class="death">0</td>
        </tr>
        <tr>
            <th scope="row">Wrath Rune <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/8/83/Wrath_rune_detail.png/120px-Wrath_rune_detail.png?41fcb"></span></th>
            <td id="wrath" class="wrath">0</td>
        </tr>
        <tr>
            <th scope="row">Chaos Rune <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/a/ae/Chaos_rune_detail.png/120px-Chaos_rune_detail.png?9379c"></span></th>
            <td id="chaos" class="chaos">0</td>
        </tr>
        <tr>
            <th scope="row">Green Dragonhide <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/f/f5/Green_dragonhide_detail.png/120px-Green_dragonhide_detail.png?70893"></span></th>
            <td id="greenhide" class="greenhide">0</td>
        </tr>
        <tr>
            <th scope="row">Red Dragonhide <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/d/d5/Red_dragonhide_detail.png/120px-Red_dragonhide_detail.png?7627d"></span></th>
            <td id="redhide" class="redhide">0</td>
        </tr>
        <tr>
            <th scope="row">Black Dragonhide <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/9/9a/Black_dragonhide_detail.png/120px-Black_dragonhide_detail.png?31870"></span></th>
            <td id="blackhide" class="blackhide">0</td>
        </tr>
        <tr>
            <th scope="row">Dragon Bolts(unf) <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/c/ce/Dragon_bolts_%28unf%29_detail.png/130px-Dragon_bolts_%28unf%29_detail.png?2352d"></span></th>
            <td id="dragonbolts" class="dragonbolts">0</td>
        </tr>
        <tr>
            <th scope="row">Dragon Dart Tip <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/d/d6/Dragon_dart_tip_detail.png/60px-Dragon_dart_tip_detail.png?f7f87"></span></th>
            <td id="dtip" class="dtip">0</td>
        </tr>
        <tr>
            <th scope="row">Dragonstone Bolt Tips <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/1/19/Dragonstone_bolt_tips_detail.png/130px-Dragonstone_bolt_tips_detail.png?540c0"></span></th>
            <td id="dstonetip" class="dstonetip">0</td>
        </tr>
        <tr>
            <th scope="row">Onyx Bolt Tips <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/6/6f/Onyx_bolt_tips_detail.png/130px-Onyx_bolt_tips_detail.png?b6267"></span></th>
            <td id="onyxtip" class="onyxtip">0</td>
        </tr>
        <tr>
            <th scope="row">Rune Dart Tip <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/5/53/Rune_dart_tip_detail.png/50px-Rune_dart_tip_detail.png?38d16"></span></th>
            <td id="runetip" class="runetip">0</td>
        </tr>
        <tr>
            <th scope="row">Dragon Arrowtips <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/8/88/Dragon_arrowtips_detail.png/130px-Dragon_arrowtips_detail.png?23053"></span></th>
            <td id="darrowtip" class="darrowtip">0</td>
        </tr>
        <tr>
            <th scope="row">Diamond Bolt Tips <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/7/77/Diamond_bolt_tips_detail.png/130px-Diamond_bolt_tips_detail.png?f411b"></span></th>
            <td id="diamondtip" class="diamondtip">0</td>
        </tr>
        <tr>
            <th scope="row">Emerald Bolt Tips <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/b/bf/Emerald_bolt_tips_detail.png/130px-Emerald_bolt_tips_detail.png?ae011"></span></th>
            <td id="emtips" class="emtips">0</td>
        </tr>
        <tr>
            <th scope="row">Ruby Bolt Tips <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/9/96/Ruby_bolt_tips_detail.png/130px-Ruby_bolt_tips_detail.png?35478"></span></th>
            <td id="rubytip" class="rubytip">0</td>
        </tr>
        <tr>
            <th scope="row">Sapphire Bolt Tips <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/4/46/Sapphire_bolt_tips_detail.png/130px-Sapphire_bolt_tips_detail.png?7ee41"></span></th>
            <td id="sapphiretip" class="sapphiretip">0</td>
        </tr>
        <tr>
            <th scope="row">Snapdragon Seed <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/6/6e/Herb_seed_detail.png/140px-Herb_seed_detail.png?e2d5a"></span></th>
            <td id="snapdragonseed" class="snapdragonseed">0</td>
        </tr>
        <tr>
            <th scope="row">Torstol Seed <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/6/6e/Herb_seed_detail.png/140px-Herb_seed_detail.png?e2d5a"></span></th>
            <td id="torstolseed" class="torstolseed">0</td>
        </tr>
        <tr>
            <th scope="row">Ranarr Seed <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/6/6e/Herb_seed_detail.png/140px-Herb_seed_detail.png?e2d5a"></span></th>
            <td id="ranarrseed" class="ranarrseed">0</td>
        </tr>
        <tr>
            <th scope="row">Watermelon Seed<span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/c/c0/Watermelon_seed_detail.png/160px-Watermelon_seed_detail.png?2a360"></span></th>
            <td id="watermelonseed" class="watermelonseed">0</td>
        </tr>
        <tr>
            <th scope="row">Willow Seed <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/8/8a/Willow_seed_detail.png/180px-Willow_seed_detail.png?c3b45"></span></th>
            <td id="willowseed" class="willowseed">0</td>
        </tr>
        <tr>
            <th scope="row">Mahogany Seed <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/f/f0/Mahogany_seed_detail.png/200px-Mahogany_seed_detail.png?d844c"></span></th>
            <td id="mahogseed" class="mahogseed">0</td>
        </tr>
        <tr>
            <th scope="row">Maple Seed <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/9/90/Maple_seed_detail.png/180px-Maple_seed_detail.png?d844c"></span></th>
            <td id="mapleseed" class="mapleseed">0</td>
        </tr>
        <tr>
            <th scope="row">Teak Seed <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/5/5b/Teak_seed_detail.png/200px-Teak_seed_detail.png?972fa"></span></th>
            <td id="teakseed" class="teakseed">0</td>
        </tr>
        <tr>
            <th scope="row">Yew Seed<span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/9/90/Yew_seed_detail.png/180px-Yew_seed_detail.png?972fa"></span></th>
            <td id="yewseed" class="yewseed">0</td>
        </tr>
        <tr>
            <th scope="row">Papaya Tree Seed<span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/0/01/Papaya_tree_seed_detail.png/180px-Papaya_tree_seed_detail.png?54189"></span></th>
            <td id="papayaseed" class="papayaseed">0</td>
        </tr>
        <tr>
            <th scope="row">Magic Seed <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/d/d3/Magic_seed_detail.png/180px-Magic_seed_detail.png?d844c"></span></th>
            <td id="magicseed" class="magicseed">0</td>
        </tr>
        <tr>
            <th scope="row">Palm Tree Seed <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/a/a7/Palm_tree_seed_detail.png/180px-Palm_tree_seed_detail.png?a8cf8"></span></th>
            <td id="palmseed" class="palmseed">0</td>
        </tr>
        <tr>
            <th scope="row">Spirit Seed <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/0/0d/Spirit_seed_detail.png/150px-Spirit_seed_detail.png?5e2ce"></span></th>
            <td id="spiritseed" class="spiritseed">0</td>
        </tr>
        <tr>
            <th scope="row">Dragonfruit Seed <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/4/4a/Dragonfruit_tree_seed_detail.png/130px-Dragonfruit_tree_seed_detail.png?540c0"></span></th>
            <td id="dragonfruitseed" class="dragonfruitseed">0</td>
        </tr>
        <tr>
            <th scope="row">Celastrust Seed <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/6/60/Celastrus_seed_detail.png/130px-Celastrus_seed_detail.png?f411b"></span></th>
            <td id="celasseed" class="celasseed">0</td>
        </tr>
        <tr>
            <th scope="row">Redwood Tree Seed <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/2/27/Redwood_tree_seed_detail.png/130px-Redwood_tree_seed_detail.png?41120"></span></th>
            <td id="redwoodseed" class="redwoodseed">0</td>
        </tr>
        <tr>
            <th scope="row">Adamantite Ore <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/3/35/Adamantite_ore_detail.png/130px-Adamantite_ore_detail.png?fa41a"></span></th>
            <td id="addyore" class="addyore">0</td>
        </tr>
        <tr>
            <th scope="row">Coins <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/6/63/Coins_detail.png/120px-Coins_detail.png?404bc"></span></th>
            <td id="coins" class="coins">0</td>
        </tr>
        <tr>
            <th scope="row">Grapes <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/9/92/Grapes_detail.png/150px-Grapes_detail.png?82e57"></span></th>
            <td id="grapes" class="grapes">0</td>
        </tr>
        <tr>
            <th scope="row">Magic Logs <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/a/ac/Magic_logs_detail_animated.gif?78f04"></span></th>
            <td id="magiclogs" class="magiclogs">0</td>
        </tr>
        <tr>
            <th scope="row">Manta Ray <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/f/fc/Manta_ray_detail.png/150px-Manta_ray_detail.png?ddaad"></span></th>
            <td id="manta" class="manta">0</td>
        </tr>
        <tr>
            <th scope="row">Dragon Bones <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/5/59/Dragon_bones_detail.png/180px-Dragon_bones_detail.png?97d9c"></span></th>
            <td id="dragonbones" class="dragonbones">0</td>
        </tr>
        <tr>
            <th scope="row">Diamond <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/2/27/Diamond_detail.png/130px-Diamond_detail.png?5421c"></span></th>
            <td id="diamond" class="diamond">0</td>
        </tr>
        <tr>
            <th scope="row">Dragonstone <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/6/68/Dragonstone_detail.png/130px-Dragonstone_detail.png?5421c"></span></th>
            <td id="dragonstone" class="dragonstone">0</td>
        </tr>
        <tr>
            <th scope="row">Wrath Talisman <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/thumb/8/83/Wrath_talisman_detail.png/130px-Wrath_talisman_detail.png?9e257"></span></th>
            <td id="wrathtally" class="wrathtally">0</td>
        </tr>
        <tr>
            <th scope="row">Rare Drop Table <span><img class="item-icon" src="https://oldschool.runescape.wiki/images/9/93/Rare_drop_table.png?256b7"></span></th>
            <td id="rare" class="rare">0</td>
        </tr>
        </tbody>
    </table>
    <div class="padding-7 row">
        <div class="col">
            <div style="margin-bottom: 5px"><input id="killNum" type="number" max="20000" min="1"></div>
            <div><button onclick="updateTable(['vorki', 'jar', 'dracvisage', 'skelevisage', 'dragonbonenecklace', 'supbone', 'bluehide', 'runelong', 'runekite',
            'bstaff', 'dbaxe', 'dlong', 'dlegs', 'dskirt', 'death', 'wrath', 'chaos', 'greenhide', 'redhide', 'blackhide', 'dragonbolts', 'dtip', 'dstonetip',
            'onyxtip', 'runetip', 'darrowtip', 'diamondtip', 'emtips', 'rubytip', 'sapphiretip', 'snapdragonseed', 'torstolseed', 'ranarrseed', 'watermelonseed',
            'willowseed', 'mahogseed', 'mapleseed', 'teakseed', 'yewseed', 'papayaseed', 'magicseed', 'palmseed', 'spiritseed', 'dragonfruitseed', 'celasseed',
            'redwoodseed', 'addyore', 'coins', 'grapes', 'magiclogs', 'manta', 'dragonbones', 'diamond', 'dragonstone', 'wrathtally', 'rare'],
            xVorkath, getKillNum)" class="btn btn-outline-warning simulate-btn">Simulate</button></div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>