<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1><a href="{% url 'home:home' %}">Homepage</a></h1>
<!--    <form action="register" method="post">-->
<!--        {% csrf_token %}-->
<!--        <div><input type="text" id="username" name="usernametext"/>Username</div>-->
<!--        <div><input type="password" id="password1" name="passwordtext1"/>Password</div>-->
<!--        <div><input type="password" id="password2" name="passwordtext2"/>Password Check</div>-->
<!--        <div><button type="submit">Register</button></div>-->
<!--    </form>-->
</body>
</html>